@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
  --redKasa: #ff6060;
  --whiteBg: #f6f6f6;
  --white: #fff;
  --black: #000;
  --greyStars: #e3e3e3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}

p {
  font-size: 18px;
}
